accelerate
datasets
fastapi
gradio
htrflow
huggingface-hub
ipykernel
matplotlib
nltk
numpy
opencv-python
orjson
pandas
peft
pillow
scikit-image
scikit-learn
scipy
torch
torchvision
transformers
ultralytics
